<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget Image</title>
  <!--<link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>

  <script src="../javascript/myjs.js"></script>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">




      <!--back mark-->
      <p class="  navbar-text pull-left">
        <a href="widget-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
    <div> <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Widget</b>
      </a>
    </p></div>

      <!--add page mark-->
      <p class=" navbar-text pull-right">
        <a href="widget-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>



  </div>

</nav>

<div class="container-fluid">


  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>


  <div class="form-group">
    <label for="title">Text</label>
    <input type="text" class="form-control" id="title" placeholder="Text">
  </div>

  <div class="form-group">
    <label for="url">URL</label>
    <input type="url" class="form-control" id="url" placeholder="www.example.com">
  </div>

  <div class="form-group">
    <label for="width">Width</label>
    <input type="number" class="form-control" id="width" placeholder="Width">
  </div>


  <div>
    <input type="file" class="form-control">
  </div>


  <label class="btn btn-primary btn-block control-label">
    Upload Image
  </label>



  <a class="btn btn-danger btn-block "
     href="widget-list.html" >Delete</a>



</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
