<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Widget list</title>
  <!--<link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>-->
  <link href="../../../vendor/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="row">

      <!--back mark-->
      <div class="pad left"><p class=" navbar-text pull-left">
        <a href="../page/page-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p></div>

      <!--heading on the nav bar-->
      <p class=" navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Widget List</b>
        </a>
      </p>

      <!--add page mark-->
      <div class="pad right"><p class=" navbar-text pull-right">
        <a href="widget-chooser.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p></div>

    </div>
  </div>
</nav>

<div class="container-fluid widget">


<div class="rc-widget">
<div class="toolbar">
  <a href="../page/page-edit.html">
<span class="glyphicon glyphicon-cog">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
</span></a></div>
  <h2>Example aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>
</div>

  <div class="rc-widget">
    <div class="toolbar">
      <a href="../page/page-edit.html">
<span class="glyphicon glyphicon-cog">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
</span></a></div>
    <h2><a href="widget-heading.html">Facebook</a></h2>
    <a href="../page/page-edit.html">
    </a>
  </div>

  <div class="rc-widget">
    <div class="toolbar">
      <a href="../page/page-edit.html">
<span class="glyphicon glyphicon-cog">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
</span></a></div>
    <a href="widget-image.html">
      <iframe class="imagevideo" width="300" src="https://www.youtube.com/embed/Wwq88xRnssQ"
              frameborder="0" allowfullscreen></iframe>
    </a>
  </div>

  <div class="rc-widget">
    <div class="toolbar">
      <a href="../page/page-edit.html">
<span class="glyphicon glyphicon-cog">
  <span class="glyphicon glyphicon-menu-hamburger"></span>
</span></a></div>
    <a href="widget-image.html">
      <img class="imagevideo" src="../images/weapon_bio5.PNG"></a>
    <a href="../page/page-edit.html">
    </a>
  </div>






    </div>





<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
