<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">


      <!--back mark-->
      <p class=" navbar-text pull-left">
        <a [routerLink]="['../../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <div><p class=" navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Widget List</b>
        </a>
      </p></div>

      <!--add page mark-->
      <p class=" navbar-text pull-right">
        <a [routerLink]="['new']" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>

    </div>

</nav>
<div class="container">
<div class="container-fluid widget">


  <div *ngFor="let widget of widgets" class="rc-widget">
    <div class="rc-toolbar">
      <a [routerLink]="[widget._id]">
<span class="glyphicon glyphicon-cog"></span>
  <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a></div>
  <a *ngIf="widget.widgetType=='YOUTUBE'" [routerLink]="[widget._id]">
   <iframe class="rc-content" width="{{widget.width}}" height="315" [src]="widget.url"
           frameborder="0" allowfullscreen></iframe>
  </a>
  <a *ngIf="widget.widgetType=='IMAGE'" [routerLink]="[widget._id]">
      <img class="rc-content" [src]="['http://lorempixel.com',widget.width,'200']">
  </a>
  {{widget.text}}
  </div>

</div>
</div>  
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../../../../../']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>