<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">


      <!--back mark-->
      <p class=" navbar-text pull-left">
        <a [routerLink]="['../../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <div><p class=" navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Widget List</b>
        </a>
      </p></div>

      <!--add page mark-->
      <p class=" navbar-text pull-right">
        <a [routerLink]="['new']" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>

    </div>

</nav>
<div class="container">
<div class="container-fluid widget">


  <div class="rc-widget">
    <div class="rc-toolbar">
      <a [routerLink]="['123']">
<span class="glyphicon glyphicon-cog"></span>
  <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a></div>
    <h2>This is a heading</h2>
  </div>



  <div class="rc-widget">
    <div class="rc-toolbar">
      <a [routerLink]="['678']">
        <span class="glyphicon glyphicon-cog"></span>
  <span class="glyphicon glyphicon-menu-hamburger"></span></a></div>
 <a [routerLink]="['678']">
   <iframe class="rc-content" width="560" height="315" src="https://www.youtube.com/embed/RY4rWrlY-qM"
           frameborder="0" allowfullscreen></iframe>
</a>
  </div>

  <div class="rc-widget">
    <div class="rc-toolbar">
      <a [routerLink]="['345']">
        <span class= "glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a></div>
    <a [routerLink]="['345']">
      <img class="rc-content" src="http://lorempixel.com/400/200/"></a>
  </div>

  <div class="rc-widget">
    <div class="rc-toolbar">
      <a [routerLink]="['123']">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a></div>
    <p>President Donald Trump’s increasingly fantastical wall on the border with Mexico—which will be up to 65 feet tall,
    impossible to cut through, covered in solar panels and
      aesthetically pleasing from the US side—will now also be a “see-through wall.”</p>
  </div>



</div>  
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../../../../../']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>