<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-3 visible-lg split-side">

        <!--back mark-->
        <p class=" pad-left navbar-text pull-left">
          <a [routerLink]="['../']" class="navbar-link">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Websites</b>
          </a>
        </p>

        <!--add page mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['../new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>


      </div>

      <p class=" pad-left navbar-text pull-left">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Edit Website</b>
        </a>
      </p>


      <p class="pad-right navbar-text pull-right">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>

    </div>

  </div>
</nav>
<div class="container">
  <div *ngIf="errorFlag"
    class="alert alert-danger">
    {{errorMsg}}
  </div>
  <div *ngIf="messageFlag"
    class="alert alert-success">
    {{message}}
  </div>
  <div class="container-fluid">

  <div class="row">
    <div class="col-xs-3 visible-lg left-side"> <ul class="list-group">


      <li class="list-group-item link borderless" *ngFor="let page of pagesForWebsite">
        <a [routerLink]="['page',page._id,'widget']">{{page.name}}</a>
        <a [routerLink]="['page',page._id]"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      </li>

    </ul></div>

    <div class="col-lg-9 col-xs-12 split-side">
    <div class="form-group">
    <label for="usr">Website Name</label>
    <input type="text" class="form-control" id="usr" [(ngModel)]="websiteName" (blur)="updateName()" name="websiteName" placeholder="url">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Website Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="description" (blur)="updateDescription()" name="description" 
              placeholder="Description" rows="5"></textarea>
  </div>

  <a class="btn btn-danger btn-block "
     (click)="deleteWbesite()" >Delete</a>


</div>
  </div>
</div>
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../../']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>