<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

      <!--back mark-->
      <p class="navbar-text pull-left">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
    <div> <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>New Page</b>
      </a>
    </p></div>

      <!--add page mark-->
      <p class="navbar-text pull-right">
        <a (click)="createPage()" [routerLink]="['./']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>


    </div>

</nav>

<div class="container">


  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"  [(ngModel)]="pageName"  name="pageName" required placeholder="Page Name">
  </div>


  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="pageTitle"  name="pageTitle" required placeholder="Page Title">
  </div>


</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['user/123']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
