<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">



      <!--back mark-->
      <p class="  navbar-text pull-left">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
    <div><p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Widget</b>
      </a>
    </p></div>

      <!--add page mark-->
      <p class=" navbar-text pull-right">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>


    </div>


</nav>

<div class="container">


  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="widgetName" name="widgetName"   placeholder="Name">
  </div>


  <div class="form-group">
    <label for="title">Text</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="widgetTitle" name="widgetTitle"  placeholder="Video Title">
  </div>

  <div class="form-group">
    <label for="url">URL</label>
    <input type="url" class="form-control" id="url"  [(ngModel)]="widgetUrl" name="widgetUrl"  placeholder="URL">
  </div>

  <div class="form-group">
    <label for="width">Width</label>
    <input type="number" class="form-control" id="width" [(ngModel)]="widgetWidth" name="widgetWidth"  min="0"
           placeholder="Width"/>
  </div>

  <a class="btn btn-danger btn-block "
     [routerLink]="['../']" >Delete</a>


</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../../../../../../']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>