<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">



      <!--back mark-->
      <p class="navbar-text pull-left">
        <a [routerLink]="['../']" class="navbar-link">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
     <div> <p class="navbar-header pull-left">
       <a class="navbar-brand thick">
         <b>Choose Widget</b>
       </a>
     </p></div>


    </div>

</nav>

<div class="container">

  <ul class="list-group">

    <li class="list-group-item link borderless"><a (click)="createWidget('HEADING')">Header</a>

    <li class="list-group-item link borderless"><a (click)="createWidget('IMAGE')">Image</a>

    <li class="list-group-item link borderless"><a (click)="createWidget('YOUTUBE')">Youtube</a>


  </ul>

</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../../../../../../../']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>