<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-3 visible-lg split-side">

        <!--back mark-->
        <p class=" navbar-text pull-left">
          <a [routerLink]="['user/123']" class="navbar-link">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <div><p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Websites</b>
          </a>
        </p>
</div>

        <!--add page mark-->
        <p class=" navbar-text pull-right">
          <a [routerLink]="['user/123/website/new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>


      </div>

    <!--back mark-->
    <p class=" navbar-text pull-left">
      <a [routerLink]="['user/123/website']" class="navbar-link">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
 <div><p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>New Website</b>
      </a>
    </p></div>

    <!--add page mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['user/123/website']" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

    </div>

  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-3 visible-lg left-side"> <ul class="list-group">

      <li class="list-group-item link active borderless">Name</li>

      <li class="list-group-item link borderless"><a [routerLink]="['user/123/website/123/page/123']">Facebook</a>
        <a [routerLink]="['user/123/website/123']"><span class="glyphicon glyphicon-cog pull-right"></span></a></li>

      <li class="list-group-item link borderless"><a [routerLink]="['user/123/website/123/page/123']">Google</a>
        <a [routerLink]="['user/123/website/123']"><span class="glyphicon glyphicon-cog pull-right"></span></a></li>


      <li class="list-group-item link borderless"><a [routerLink]="['user/123/website/123/page/123']">Youtube</a>
        <a [routerLink]="['user/123/website/123']"><span class="glyphicon glyphicon-cog pull-right"></span></a></li>

    </ul></div>

    <div class="col-lg-9 col-xs-12 split-side">

      <div class="form-group">
      <label for="usr">Name</label>
      <input type="text" class="form-control" id="usr" placeholder="Name">
    </div>



      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"
                  placeholder="Description" rows="5"></textarea>
      </div>

      <a class="btn btn-primary btn-block"
         [routerLink]="['user/123/website']">Create</a>
      <a class="btn btn-danger btn-block "
         [routerLink]="['user/123/website']" >Delete</a>
    </div>
  </div>



</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['user/123']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
