<!DOCTYPE html>


<div class="container-fluid">
  <h1>Register</h1>
  <input placeholder="username"
         type="text"
         class="form-control"/>
  <input placeholder="password"
         type="password"
         class="form-control"/>
  <input placeholder="verify password"
         type="password"
         class="form-control"/>
  <a class="btn btn-primary btn-block"
     href="../profile/profile.component.html">Register</a>
  <a class="btn btn-danger btn-block"
     href="../login/login.component.html" >Cancel</a>

</div>

